<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">
<listeners>
<listener class-name="common.Listeners"></listener>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
<!-- above for ReportNG plugin -->
</listeners>
    <test name="MyTest">
     <groups>
            <run>
                <exclude name="smoke"/>
            </run>
     </groups>
        <classes>
            <!-- <class name="testngPractice.PracticeTest"/> -->
            <!-- <class name="testngPractice.ListenerDemoTest"/> -->
            <class name="testngPractice.CrudTest"/>
        </classes>
    </test>
</suite>


